/*indexContainer*/
.container {}

.container .inner-container {}

.container .inner-container .index {
    width: 100%;
    height: auto;
    /* border: 1px solid; */
}

.container .inner-container .index .sections {}

/*sec1*/
.container .inner-container .index .sections .section.sec1 {
    /* width: 100%;
    height: 100vh; */
}

.container .inner-container .index .sections .section.sec1 .sec-con {
    width: 100%;
    height: auto;
    position: relative;
}

.container .inner-container .index .sections .section.sec1 .sec-con video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.container .inner-container .index .sections .section.sec1 .sec-con .sec1-txt {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #000; */
    color: #fff;
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
}

.container .inner-container .index .sections .section.sec1 .sec-con .sec1-txt h1.title {
    line-height: 60px;
    font-size: 40px;
}

.container .inner-container .index .sections .section.sec1 .sec-con .sec1-txt p {
    line-height: 20px;
    padding: 20px 0;
    font-size: 20px;
}

.container .inner-container .index .sections .section.sec1 .sec-con .sec1-txt span.date {
    line-height: 30px;
    font-size: 18px;
}

/*sec2*/
.container .inner-container .index .sections .section.sec2 {
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    padding: 36px;
    box-sizing: border-box;
}

.container .inner-container .index .sections .section.sec2 .sec-con {
    flex: 0 1 980px;
}

.container .inner-container .index .sections .section.sec2 .sec-con h1.title {
    line-height: 50px;
    padding: 40px 0;
    text-align: center;
    letter-spacing: 3px;
}

.container .inner-container .index .sections .section.sec2 .sec-con .img-con {
    width: 100%;
    position: relative;
    height: 550px;
}

.container .inner-container .index .sections .section.sec2 .sec-con .img-con>ul>li {
    position: absolute;
}

.container .inner-container .index .sections .section.sec2 .sec-con .img-con>ul>li img {
    width: 100%;
    height: auto;
    display: block;
}

.container .inner-container .index .sections .section.sec2 .sec-con .img-con>ul>li:nth-child(1) {
    z-index: 1;
}

.container .inner-container .index .sections .section.sec2 .sec-con .bcon {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.container .inner-container .index .sections .section.sec2 .sec-con .bcon .items {
    width: auto;
    height: auto;
    /* background-color: #ff0; */
}

.container .inner-container .index .sections .section.sec2 .sec-con .bcon .items>ul {
    display: flex;
    justify-content: space-between;
}

.container .inner-container .index .sections .section.sec2 .sec-con .bcon .items>ul>li {
    width: 20px;
    height: 20px;
    border: 1px solid #222;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 2px;
    z-index: 1;
    cursor: pointer;
}

.container .inner-container .index .sections .section.sec2 .sec-con .bcon .items>ul>li:hover {
    background-color: #0005 !important;
}

.on {
    background-color: #0005;
}

.container .inner-container .index .sections .section.sec2 .sec-con p.p1 {
    line-height: 30px;
    padding: 20px 0;
}

.container .inner-container .index .sections .section.sec2 .sec-con .btn-con {
    display: flex;
    justify-content: center;
}

.container .inner-container .index .sections .section.sec2 .sec-con .btn-con span.detail {
    display: block;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-weight: lighter;
    font-size: 14px;
}

.container .inner-container .index .sections .section.sec2 .sec-con .btn-con span.detail:hover {
    background-color: #333;
}

/*sec3*/
.container .inner-container .index .sections .section.sec3 {
    /* width: 100%;
    height: 100vh; */
}

.container .inner-container .index .sections .section.sec3 .sec-con {
    width: 100%;
    height: auto;
    position: relative;
}

.container .inner-container .index .sections .section.sec3 .sec-con video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: block;
}

.container .inner-container .index .sections .section.sec3 .sec-con .sec3-txt {
    position: absolute;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #000; */
    color: #fff;
    text-align: center;
    padding: 20px;
    letter-spacing: 3px;
}

.container .inner-container .index .sections .section.sec3 .sec-con .sec3-txt h1.title {
    line-height: 60px;
    font-size: 40px;
}

.container .inner-container .index .sections .section.sec3 .sec-con .sec3-txt p {
    line-height: 20px;
    padding: 20px 0;
    font-size: 20px;
}

/*sec4*/
.container .inner-container .index .sections .section.sec4 {
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    padding: 36px;
    box-sizing: border-box;
}

.container .inner-container .index .sections .section.sec4 .sec-con {
    flex: 0 1 980px;
}

.container .inner-container .index .sections .section.sec4 .sec-con h1.title {
    line-height: 50px;
    padding: 40px 0;
    text-align: center;
    letter-spacing: 3px;
}

.container .inner-container .index .sections .section.sec4 .sec-con .img-con {
    width: 100%;
    position: relative;
    height: 550px;
}

.container .inner-container .index .sections .section.sec4 .sec-con .img-con>ul>li {
    position: absolute;
}

.container .inner-container .index .sections .section.sec4 .sec-con .img-con>ul>li img {
    width: 100%;
    height: auto;
    display: block;
}

.container .inner-container .index .sections .section.sec4 .sec-con .img-con .center-btn {
    width: 100%;
    position: absolute;
}

.container .inner-container .index .sections .section.sec4 .sec-con .img-con .center-btn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    box-sizing: border-box;
}

.container .inner-container .index .sections .section.sec4 .sec-con .img-con .center-btn span.arrow {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.774);
    cursor: pointer;
    border-radius: 50%;
}

.container .inner-container .index .sections .section.sec4 .sec-con .img-con .center-btn span.arrow:hover {
    background-color: #2225;
}

.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con {
    padding: 20px 0;
    box-sizing: border-box;
}

.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con>ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    text-align: center;
}

.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con>ul>li {
    padding: 10px 20px 30px;
    box-sizing: border-box;
    color: #555;
}

.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con>ul>li:hover {
    color: #000;
    background-color: #5555;
    cursor: pointer;
}

.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con>ul>li h1 {
    padding: 20px;
    line-height: 30px;
    box-sizing: border-box;
}

.container .inner-container .index .sections .section.sec4 .sec-con .bottom-con>ul>li p {
    line-height: 30px;
}

/*sec5*/
.container .inner-container .index .sections .section.sec5 {
    /* width: 100%;
    height: 100vh; */
    background-color: #5555;
}

.container .inner-container .index .sections .section.sec5 .sec-con {
    display: flex;
    justify-content: center;
    padding: 50px;
    box-sizing: border-box;
    letter-spacing: 3px;
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con{
    flex: 0 1 520px;
    /* border: 1px solid; */
    text-align: center;
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con h1.title{
    line-height: 20px;
    padding: 15px 0;
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con p{
    line-height: 20px;
    font-size: 14px;
    padding: 20px 0;
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con span.pouBtn{
    width: 100px;
    display: block;
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    padding: 10px 15px;
    cursor: pointer;
}
.container .inner-container .index .sections .section.sec5 .sec-con .sec5-con span.pouBtn:hover{
    background-color: #444;
}

@media only screen and (max-width:640px){
    .container .inner-container .index .sections .section.sec4 .sec-con .bottom-con>ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        text-align: center;
    }
}